/* Import google fonts Mulish and Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@400;700;800&display=swap');

/* shated styles */
* {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h3 {
    margin: 0;
    padding: 0;
}

section {
    max-width: 992px;
    margin: 0 auto;
}

/* nav section */
.nav_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.logo_section {
    display: flex;
    align-items: center;
}

.logo_img {
    margin-right: 20px;
}

.brand_name {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

.roam {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    list-style: none;
}

ul>li a {
    text-decoration: none;
    margin-left: 45px;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hamburger {
    display: none;
}

/* ------------------------------Resposive -------------------------------------- */
@media screen and (max-width: 600px) {
    .top_nav {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
       margin-right: 20px;
    }

    .brand_name {
        font-size: 20px;
    }
    .logo_section {
        margin-left: 20px;
    }

    .roam {
        font-size: 20px;
    }
}
